# Visual Studio cache
.vs/
*.vcxproj.user
*.suo

# Build output
*.exe
*.obj
*.pdb
*.ilk
*.log
*.tmp
x64/
Debug/
Release/

# Binárne a šifrované súbory
*.bin

# Dočasné súbory
~$*
*.cache

# Ostatné nepotrebné veci
*.vsidx


**/Debug/
**/Release/
**/x64/